---

- name: "assure ufw installed"
  package:
    pkg: "ufw"
    state: present

- name: "update sysctl forward ip"
  sysctl:
    name: "{{ item }}"
    value: "1"
    sysctl_set: yes
  loop:
    - "net.ipv4.ip_forward"
    - "net.ipv6.conf.all.forwarding"

- name: "UFW Default config - INPUT_POLICY Drop"
  lineinfile:
    dest: "/etc/default/ufw"
    regexp: "^DEFAULT_INPUT_POLICY"
    line: 'DEFAULT_INPUT_POLICY="DROP"'
  notify:
    - reload ufw

- name: "UFW Default config - FORWARD_POLICY Drop"
  lineinfile:
    dest: "/etc/default/ufw"
    regexp: "^DEFAULT_FORWARD_POLICY"
    line: 'DEFAULT_FORWARD_POLICY="DROP"'
  notify:
    - reload ufw

- name: "enable SSH/HTTP (always)"
  ufw:
    rule: "allow"
    name: "{{ item }}"
  loop:
    - "WWW"
    - "WWW secure"
    - "openSSH"
  notify:
    - reload ufw

- name: "enable turnserver"
  ufw:
    rule: "allow"
    proto: tcp
    port: 3478
  notify:
    - reload ufw

- name: "enable turnserver"
  ufw:
    rule: "allow"
    proto: udp
    port: 3478
  notify:
    - reload ufw


- name: "activate UFW"
  ufw:
    state: "enabled"
